<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.appcasal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCasal"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCasal.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.financas.ListaTransacoesActivity"
            android:exported="true"
            android:label="@string/financas"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.metas.ListaMetasActivity"
            android:exported="true"
            android:label="@string/metas"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.receitas.ListaReceitasActivity"
            android:exported="true"
            android:label="@string/receitas"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.receitas.cadastro.FormReceitasActivity"
            android:exported="true"
            android:label="@string/adicionar_receita"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.receitas.detalhe.DetalheReceitaActivity"
            android:exported="true"
            android:label="@string/detalhe_receita"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.viagens.ListaViagensActivity"
            android:exported="true"
            android:label="@string/viagens"
            android:screenOrientation="portrait" />
    </application>

</manifest>